.container {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    align-items: center;
}

.headerContent {
    width: 100%;
    height: 60px;
    align-items: center;
}

.outlet {
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
    gap: 10px
}

.sidebar {
    width: 18%;
    height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: calc(100% - 15%) ;
    /*position: absolute;*/
    /*top: 115px;*/
}

.contentNoTabMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.noTabMessage {
    text-align: center;
    padding: 40px;
    font-size: 18px;
    color: #666;
}
@media only screen and (max-width: 1400px) {
    .sidebar {
        width: 25%;
        min-width: 200px;
    }
}
