.main {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span {
    font-weight: bold;
    font-size: 30px;
    color: #454545;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bodyWrap {
    width: 100%;
    height: 95%;
}

.body {
    width: 100%;
    height: 55%;
}

.leftContent {
    flex: 2;
    min-width: 400px;
}

.rightInfo {
    flex: 1;
    min-width: 400px;
}

.footer {
    padding-top: 10px;
    width: 94%;
    position: relative;
    height: 100%;
    margin-top: 25px;
}
